# Gabaritos (arquivos privados - não versionar)
04_1_gabarito_treino_funcoes.ipynb
02_1_gabarito_treino_condicionais_loops.ipynb
TaludeInfinito.ipynb
idw.ipynb
# Datasets (arquivos privados - não versionar)
PONTOS COTADOS - 250cm.xlsx
#Em desenvolvimento
04_2_intro_geopandas.ipynb
04_2_intro_geopandas-old.ipynb
